<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>USZN</title>
</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Set Kab</h2>


<div th:if="${errorMessage!=null}"
     style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>

<form th:action="@{/setKab}" th:object="${setKabForm}" method="POST">
    <table>

        <tr>
            <td>From Id</td>
            <td>
                <div th:utext="*{accountId}"/>
                <input type="text" th:field="*{accountId}" hidden/>
            </td>
        </tr>
        <tr>
            <td>Change room</td>
            <td><input type="text" th:field="*{kab}" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Set"/></td>
        </tr>
    </table>
</form>

</body>
</html>