<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>USZN</title>
</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Set Pass</h2>


<div th:if="${errorMessage!=null}"
     style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>

<form th:action="@{/setPass}" th:object="${setPassForm}" method="POST">
  <table>

    <tr>
      <td>From Id</td>
      <td><input type="text" th:field="*{accountId}"/></td>
    </tr>
    <tr>
      <td>Change login</td>
      <td><input type="text" th:field="*{login}" /></td>
    </tr>
    <tr>
      <td>Change pass</td>
      <td><input type="text" th:field="*{pass}" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Set"/></td>
    </tr>
  </table>
</form>

</body>
</html>